.home {
  &-title {
    font-size: 50px;
    padding: 25px 0;
  }
  &-wrapper {
    display: flex;
    justify-content: center;

    @media (max-width: 900px) {
      flex-direction: column;
      align-items: center;
    }
  }
}

.stopwatch {
  margin-left: 30px;
  margin-right: 30px;
  border: 2px solid grey;
  border-radius: 4px;
  padding: 20px;
  width: 400px;
  background-color: rgb(22, 27, 31);
  box-shadow: 0 3px 6px rgb(12, 12, 12);

  &-header {
    font-size: 40px;
    font-weight: bold;
  }
  &-button {
    background-color: #202b33;
    border: solid 1px transparent;
    border-radius: 4px;
    padding: 12px 32px;
    font-size: 20px;
    color: #ffffff;
    margin: 0 5px;
    cursor: pointer;

    &:hover {
      background-color: #106ba3;
    }
  }
  &-display {
    padding: 40px 0;
    font-size: 48px;
  }
  @media (max-width: 900px) {
    margin-bottom: 40px;
  }
}
